.container {
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
  }
  
  .heading {
    font-weight: bold;
    font-family: sans-serif;
    color: #F1D625;
    margin-bottom: 30px;
  }
  
  .whiteText {
    color: white;
  }
  
  .text {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    margin-bottom: 20px;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .link {
    display: block;
    color: white;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 10px;
  }
  