.main {
  margin: 0 auto;
  max-width: 1200px;
}

.container {
  display: flex;
  justify-content: space-between;
}
.heading {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 35px;
  color: #f1d625;
  margin-bottom: 20px;
}

.leftContent {
  flex: 1;
  margin-right: 20px;
}
.whiteText {
  color: white;
}
.text {
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}

.imageContainer{
  flex: 1;
   margin-Left: 20px;
   text-Align: center
}
.image {
  width: 100%;
}
.link {
  color: white;
}
.container2 {
  margin-top: 20px;
}
.heading1 {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  color: #f1d625;
  margin-bottom: 20px;
}
.text1 {
  display: grid;
  gap: "10px";
}
