.main{
    margin: 0 auto;
    max-width: 1200px;
}
.container {
    display: flex;
    justify-content: space-between;
    
  }
  
  .containerHeading {
    padding: 10px;
  }
  .YellowText{
    font-weight: 600;
    font-family: sans-serif;
    font-size: 22px;
    color: #f1d625;

  }
  .heading {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    color: #f1d625;
    margin-bottom: 10px;
  }
  
  .whiteText {
    color: #fff;
  }
  .subHeading {
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
  }
  .paragraph {
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
  }
       /* --------------Our Services------- */
       .servicesContainer {
        text-align: center; 
    }
    
    .servicesHeading {
        color: #fff;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 30px;
        margin-top: 20px; 
    }
    
    .servicesSubHeading{
      color: #f1d625;
      font-weight: bold;
      font-family: sans-serif;
      font-size: 20px;
    
    }
    

.mainContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
    .onPageContainer h1{
    font-family: sans-serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
      }


    .offPageContainer h1{
        font-family: sans-serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
      }